#root {
    height: 100vh;
}

.App {
    text-align: center;
    /* background-color: #bff3f3; */
    background-color: #2f8e8e;
    border-radius: 28px;
    border: 10px solid #2f8e8e;
    height: 90%;
    margin-top: 0.5em;
    margin-bottom: 15em;
    /* min-height: 90%; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.MuiButton-outlined {
    border: 3px solid #2f8e8e !important;
    color: #2f8e8e !important;
    font-weight: bold !important;
    box-shadow: 3px 3px 3px rgb(58, 68, 72);
}

.MuiButton-outlined:hover {
    background-color: #2f8e8e !important;
    color: #bff3f3 !important;
}

.scroll-component {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.handle {
    width: 85%;
    height: 80%;
    margin: 3em 1em;
}

@media screen and (min-width: 400px) {
    .handle {
        height: 95%;
        width: 85%;
        margin: 5px;
    }
}

@media screen and (min-width: 900px) {
    .handle {
        height: 95%;
        width: 85%;
        margin: 5px;
    }
}

.handlee {
    width: 100%;
    height: 60%;
    margin: 1em 1em 0.5em;
    /* transform: rotate(90deg); */
}


/* .handle {
    width: 90%;
    height: 40%;
    margin: 5px;
}

@media screen and (min-width: 900px) {
    .handle {
        width: 50%;
        height: 90%;
        margin: 5px;
    }
} */

hr {
    /* border: none;
    width: 100%;
    height: 90px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 30px; */
    height: 10px;
    background-color: #2f8e8e;
    color: #2f8e8e;
    /* margin: 0.5em 0px; */
    margin: 0px 0px 0.5em 0px;
}

.boat {
    width: 50%;
    transform: rotate(10deg);
    margin: 2em;
    box-shadow: 2px 2px 2px rgb(58, 68, 72);
}

@media screen and (min-width: 900px) {
    .boat {
        width: 30%;
        transform: rotate(10deg);
        margin: 3em;
        box-shadow: 2px 2px 2px rgb(58, 68, 72);
    }
}


/* .strawb {
    width: 50%;
    transform: rotate(-10deg);
    margin: 3em auto 1em;
}

@media screen and (min-width: 900px) {
    .strawb {
        width: 30%;
        transform: rotate(-10deg);
        margin: 4em auto 1em;
    }
} */

.strawb {
    display: none;
    width: 5%;
    transform: rotate(-10deg);
    margin: 3em auto 1em;
}

@media screen and (min-width: 900px) {
    .strawb {
        width: 10%;
        display: none;
        transform: rotate(-10deg);
        margin: 4em auto 1em;
    }
}

@media screen and (min-width: 1200px) {
    .strawb {
        width: 40%;
        display: block;
        transform: rotate(-10deg);
        margin: 4em auto 1em;
    }
}

.anchor {
    margin-top: 1em;
    width: 20%;
    transform: rotate(10deg);
}

.muffin {
    width: 85%;
    margin: 2em auto 0.5em;
}

@media screen and (min-width: 900px) {
    .muffin {
        width: 70%;
        margin: 1em;
    }
}

.hidescrollUpArrow {
    display: none;
}

.hide {
    display: none;
}

body {
    background-color: #2f8e8e;
    /* margin: 0;
    padding: 0; */
    /* border: 10px solid #000000; */
    /* border-radius: 15px;
    border: 10px solid #2f8e8e; */
}