.handle {
    width: 100%;
    height: 30%;
    margin: 4em 0 0 0.5em;
    padding: 0;
}


/* sizes of the images for different screen breaking points */

@media screen and (min-width: 400px) {
    .handle {
        width: 100%;
        height: 40%;
        margin: 4em 0 0 0.5em;
        padding: 0;
    }
}

@media screen and (min-width: 900px) {
    .handle {
        height: 45%;
        width: 100%;
        margin: 4em 0 0 1em;
        padding: 0;
    }
}

@media screen and (min-width: 700px) {
    .fridgeTop {
        margin-top: 3em;
    }
}

.boat {
    width: 40%;
    transform: rotate(-7deg);
    margin: 2em;
    box-shadow: 1px 1px 1px rgb(58, 68, 72);
}

@media screen and (min-width: 800px) {
    .boat {
        width: 55%;
        transform: rotate(-7deg);
        margin: 3em;
        box-shadow: 2px 2px 2px rgb(58, 68, 72);
    }
}

.muffin {
    width: 85%;
    margin: 2em auto 0.5em;
}

@media screen and (min-width: 900px) {
    .muffin {
        width: 70%;
        margin: 1em;
    }
}