/* images used at the second half of the page */

.handlee {
    width: 100%;
    height: 60%;
    margin: 1em 0.5em 0.5em;
}

.anchor {
    margin-top: 1em;
    width: 20%;
    transform: rotate(10deg);
}