/* circle magnet image used at the top of the note*/

.circleWithShadow {
    width: 12%;
    margin: 1.2em 45% 1.5em;
    padding: auto;
}


/* the text fields used for the editing of the notes */

.titleField {
    justify-content: center !important;
    width: 70% !important;
    margin: 1.5em auto !important;
    word-wrap: break-word !important;
    border-color: yellow !important;
    text-align: center !important;
}

.textField {
    width: 89% !important;
    margin: 2em auto !important;
    word-wrap: break-word !important;
}