/* .NoteEdit:hover {
    background-color: rgb(253, 254, 178) !important;
} */

.strawberryy {
    /* margin-top: 1.2em;
    margin-left: 7em;
    margin-right: 7em; */
    width: 12%;
    margin: 1.2em 45% 1.5em;
    padding: auto;
    /* transform: rotate(20deg); */
}